*.egg-info
*.pyc
model_input.txt
model_output.txt
y_rbf.txt
SALib/test_traj.txt
/SALib.egg*

tests/*.txt

/build/
/dist/

# Windows specific
/build/*

.coveralls.yml
.coverage

# Gurobi related files
*.txt
*.lp
*.mps
*.log