# Travis config for SALib/SALib
sudo: false
language: python
virtualenv:
  system_site_packages: true
services:
  - postgresql
env:
  matrix:
  - DISTRIB="conda" PYTHON_VERSION="2.7" COVERAGE="true"
  - DISTRIB="conda" PYTHON_VERSION="3.5 COVERAGE="false"
addons:
  apt:
    packages:
    - git
    - python-pip
install:
- source tests/travis_install.sh
- pip install -r test-requirements.txt
script:
- python setup.py test
after_success:
- if [[ "$COVERAGE" == "true" ]]; then coveralls || echo "failed"; fi
cache:
- apt
notifications:
 email: false
